
.footer {

	&__item {

		img {
			margin-bottom: 3rem;
		}

		
		p {
			
			@include above (sm) {
				margin-bottom: 0;
			}
		}
	}

	&__links {

		a {
			color: $white;
			transition: all ease .3s;
			position: relative;

			@include above (sm) {
				margin-right: 3rem;
				
				&:after {
					content: '';
					width: .1rem;
					height: 100%;
					background: $tan;
					position: absolute;
					right: -1.5rem;
				}	
			}

			&:hover {
				color: $tan;
			}
		}

		@include below (sm) {
			flex-direction: column;
		}
	}
}
