.header {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	@include above (sm) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	&__logo {
		display: block;
		float: left;
		position: relative;
    	z-index: 1000000000;

		img {
			width: 131px;
			height: 41px;
		}
	}
}