/********************LAYOUTS********************/

/* Base Styles */


/* WYSIWYGs */
.wysiwygs {

  &--img {
    @include bg-cover();
    @include bg-overlay();
    color: $white;

    padding-top: 5rem !important;
    padding-bottom: 5rem !important;

    @include above (sm) {
      padding-top: 18rem !important;
      padding-bottom: 18rem !important;
    }

    @include above (lg) {
      padding-top: 24rem !important;
      padding-bottom: 24rem !important;
    }

    a {
      color: $white;
      transition: all ease .3s;

      &:hover {
        color: $tan;
      }
    }

    .wysiwygs__container {
      position: relative;
    }

    .wysiwygs__title {
      color: $white;
    }
  }

  &__title {
    margin-top: 0;
    
    &--sub {
      font-family: $font-body;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  &__col {
	
    @include above (sm) {

      &.first {

        p:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.last {

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.bg {

  &--none {

  }

  &--blue, &--brown {  

      hr {

        &:before, &:after {
          background: $white;
        }
      }
  }

  &--blue {
    background: $blue;
    color: $white;

    h1, h2, h3, h4, h6 {
      color: $white;
    }
  }

  &--brown {
    background: $brown;
    color: $white;

    h1, h2, h3, h4, h6 {
      color: $white;
    }
  }
} 

.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}

  &--reverse {
    flex-direction: row-reverse;
  }
}

//standard paddings change accordion to design
.padding {

  &--top {
    padding-top: 3rem;
  }
  
  &--bottom {
    padding-bottom: 3rem;
  }

  &--both {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 6rem;
    }

    &--bottom {
      padding-bottom: 6rem;
    }

    &--both {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}