.page {
  
	&__hero {
		padding-top: 35vh;
		padding-bottom: 35vh;
		@include bg-cover();
		@include bg-overlay();
		color: $white;
	}

	&__container {
		position: relative;
	}

	&__intro {
		font-family: $font-headings;
		color: $tan;
		font-size: 1.4rem;
		font-style: italic;
		margin-top: 0;
		margin-bottom: 0;
	}

	&__title {
		color: $white;
		margin-top: 0;
		margin-bottom: 1.5rem;
	}  

	&__text {

	}
}
