.text-image {

	&__wrapper {
		position: relative;

		@include below (sm) {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
	}

	&__image {
		position: relative;
		@include bg-cover();
		min-height: 45rem;
		width: 100%;
		left: 0;

		@include above (md) {
			position: absolute;
			top: 0;
			width: 50%;
			height: 100%;
		}

		&.right {
			right: 0;
			left: auto;
		}
	}

	&__content {

		&.left {

			@include above (md) {
				padding-left: 3rem;
			}
		}
	}

	&__title {

	}
}