/********************GLOBAL********************/

* {
  /* (http://paulirish.com/2012/box-sizing-border-box-ftw/) */
  box-sizing: border-box;

  &:after,
  &:before {
    box-sizing: border-box;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  font-family: $font-body;
  color: $color-body;
}

body {
  background-color: $white;
  overflow-x: hidden;
  line-height: 1.8;
  margin: 0;
  font-size: $base-font-size;

  @include above (sm) {
    font-size: $base-font-size-desktop;
  }
}

/* Links */
a, .a {
  text-decoration: none;
  outline: none;
}

/* Figures and Blockquotes */
figcaption {
  font-style: italic;
  text-align: center;
}


blockquote {
  quotes: "\201C""\201D";
  position: relative;

  &:before {
    content: open-quote;
    font-size: 4rem;
    position: absolute;
    top: 2px;
  }

  p {
    display: inline;
  }
}

cite {
  display: block;
  font-style: normal;
}

/* Paragraphs and Lists
   ========================================================================== */

p, ul, ol {
  margin: 0 0 1.5rem;
}

ul, ol {
  ul, ol {
    margin-bottom: 0;
  }
}

hr {
  border: none;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  background-image: url('../img/infinity.svg');
  background-position: center center;
  background-repeat: no-repeat;
  width: 7rem;
  height: 3.3rem;
  display: flex;
  align-items: center;

  @include above (sm) {
      margin-top: 6rem;
      margin-bottom: 6rem;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    width: calc(30% - 3.3rem);
    height: .1rem;
    background: $black;
  }
  
  &:before {
    left: 15%;
  }

  &:after {
    right: 15%;
  }
}


/* Default Image Styles */
img {
  height: auto;
  max-width: 100%;
}

/* WordPress Image Styles */
[class^="wp-image-"], [class*=" wp-image-"], .wp-caption {
  display: block;
  height: auto;
  max-width: 100%;

  .wp-caption & {
    padding: 0;
    border: 0;
  }

  .wp-caption-text {
    font-size: 75%;
    font-style: italic;
    margin: 0;
    padding: 16px 16px 12px;
  }
}

/* Containers */
.wrap, .contain, .constrain {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  word-wrap: break-word;
}

.wrap {
  max-width: 1170px;
}

.contain {
  max-width: 700px;
}

.constrain {
  max-width: 450px;
}

/*
 * HELPER CLASSES
 */

.hpad {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.center {
  text-align: center;
}

.alignleft {
  margin: 1rem auto;

  @include above (sm) {
    margin: 0 1rem 1rem 0;
    float: left;
  }
}

.aligncenter {
  margin: 1rem auto;
  clear: both;
}

.alignright {
  margin: 1rem auto;

  @include above (sm) {
    margin: 0 0 1rem 1rem;
    float: right;
  }
}
