/********************MIXINS*********************/

@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}


@mixin bg-cover() {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

@mixin bg-overlay($color: $blue, $opacity: .65) {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: $color;
		opacity: $opacity;
	}	
}