/********************VARIABLES********************/

// Custom fonts example (modify as needed)
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@font-face {
    font-family: 'Californian FB';
    src: url('../font/CalifornianFB-Bold.woff') format('woff'),
         url('../font/CalifornianFB-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


// Fonts
$font-body: 'Poppins', sans-serif; 
$font-headings: 'Californian FB', 'Helvetica', 'Arial', Sans-Serif;

// Base sizes
$base-font-size: 16px; // General font-size, also used for mobile - default 16px
$base-font-size-desktop: 16px; // Desktop font-size - default 16px 

/********* Colors *********/

$white: white;
$black: black;

$tan: #DBA96C;
$brown: #725133;
$blue: #282F40;


// Set font colors
$color-body: $blue;
$color-headings: $color-body;


// Bootstrap Grid only
//


// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 480px,
  // Small screen / phone
  sm: 768px,
  // Medium screen / tablet
  md: 992px,
  // Large screen / desktop
  lg: 1170px,
  // Extra large screen / wide desktop
  xl: 1400px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width:          3rem !default; // 2rem

//missing variables
$enable-flex:               false !default;
$enable-grid-classes:        true !default;